* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header {
    background-color: white;
    text-align: center;
    padding: 0.7rem;
    max-width: 100%;
    box-shadow: 0px 1px 9px -2px rgba(0,0,0,0.65);
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    color: #338bff;
    max-width: 100%;
}

.container1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem;
}

.container1 h1 {
    color: #338bff;
    font-size: 3rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

.container1 h3 {
    color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: 1.3rem;
}

.container2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 1px 12px -1px rgba(0,0,0,0.56);
    padding: 5rem 3rem;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2.5rem;
    justify-content: center;
}
